body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.main-container {
  flex: 1 auto;
}

.main-container .heading {
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url('../images/logo.png');
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}